 {% extends 'food/base.html' %}
 <!-- {% load static %} -->
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'food/style.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
       
    </head>
    <body  >
        {% block body %}
        
    
            {% for item in item_list %}
            <div class="row">
                <div class="col-md-3 offset-med-2">
                    <img src="{{item.item_image}}"  class="card" height="150px"/>
                </div>
           
                <div class="col-md-4">

                </div>
                <div class="col-md-2">

                </div>

             </div>







            <ul>
                <li>
               <a href="{% url 'food:detail' item.id %}"> {{item.id}}--{{item.item_name}} </a>
                </li>
            </ul>
            
            

            {% endfor %}
        {% endblock %}
        <script src="" async defer></script>
    </body>
</html>